<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.sanxia.dao.IAdminDao">
    <!--admin登陆-->
    <select id="Login" parameterType="admin" resultType="admin">
        select * from tb_admin where a_name=#{a_name} and a_password=#{a_password};
    </select>

    <!--注册-->
    <insert id="Register" parameterType="admin">
        insert into tb_admin(a_name,a_password,a_email)
        values (#{a_name},#{a_password},#{a_email});
    </insert>

    <!--根据name查对象-->
    <select id="findByName" parameterType="string" resultType="admin">
        select * from tb_admin where a_name=#{a_name}
    </select>
</mapper>
