<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.sanxia.dao.IOrderDao">
    <insert id="add" parameterType="order" >
        insert into tb_order (u_id,r_id,o_type,o_sex,o_realname,o_pay,o_phone,o_address)
        values (#{u_id},#{r_id},#{o_type},#{o_sex},#{o_realname},#{o_pay},#{o_phone},#{o_address});
    </insert>
</mapper>