<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.sanxia.dao.IRoomDao">
    <select id="findAll" parameterType="room" resultType="room">
        select * from tb_room;
    </select>
    <!--到修改界面，根据id查询一个对象-->
    <select id="editUI" parameterType="int" resultType="room">
        select * from tb_room where r_id = #{r_id};
    </select>
    <!--修改房屋信息-->
    <update id="edit" parameterType="room" >
        update tb_room
        <set>
            <if test="r_name!=null and r_name!=''">
                r_name=#{r_name},
            </if>
            <if test="r_price!=null and r_price!=''">
                r_price=#{r_price},
            </if>
            <if test="r_describe!=null and r_describe!=''">
                r_describe=#{r_describe},
            </if>
            <if test="r_max!=null and r_max !=''">
                r_max=#{r_max},
            </if>
            <if test="r_view!=null and r_view!=''">
                r_view=#{r_view},
            </if>
            <if test="r_bed !=null and r_bed !=''">
                r_bed=#{r_bed },
            </if>
            <if test="r_pic !=null and r_pic !=''">
                r_pic=#{r_pic },
            </if>
            <if test="r_pic !=null and r_pic !=''">
                r_pic=#{r_pic },
            </if>
            <if test="r_area !=null and r_area !=''">
                r_area=#{r_area },
            </if>
        </set>
        where r_id=#{r_id};
    </update>
    <!--根据id删除房屋-->
    <delete id="delete" parameterType="int">
        delete from tb_room where r_id=#{r_id};
    </delete>
    <!--增加房屋-->
    <insert id="add" parameterType="room" >
        insert into tb_room(r_name ,r_price,r_describe,r_max,r_view,r_bed,r_pic,r_area)
        values (#{r_name},#{r_price},#{r_describe},#{r_max},#{r_view},#{r_bed},#{r_pic},#{r_area});
    </insert>
    <select id="findById" parameterType="room" resultType="room">
         select * from tb_room where r_id = #{r_id};
    </select>
</mapper>